/* Establecer imagen de fondo */
body {
    background: url("../static/img/FondoBarrioNet.webp") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja del formulario */
.login-box {
    background: rgba(255, 255, 255, 0.384);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* LOGO EN LA PARTE SUPERIOR IZQUIERDA */
.logo-top-left {
    position: absolute;
    top: 10px;  /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la izquierda */
    width: 350px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción */
    z-index: 10; /* Asegura que esté por encima del fondo */
}


/* Campos de entrada */
.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Botón de inicio de sesión */
.login-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #ff5252;
}

/* Estilo para el botón de archivo */
.custom-file-upload {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.custom-file-upload input {
    display: none;
}

.custom-file-upload span {
    font-size: 14px;
    color: #666;
}


