<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='agregar_editar.css') }}">
    <title>Editar Lote</title>
</head>
<body>
    <a href="{{ url_for('main.dashboard') }}" class="back-arrow">
        <img src="{{ url_for('static', filename='img/Arrow.png') }}" alt="Volver">
    </a> 
    <div class="form-container">
        <h2>Editar Lote</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <label for="nombre">Nombre del Lote:</label>
            {{ form.nombre(class="form-control") }}

            <label for="fundo">Fundo:</label>
            {{ form.fundo(class="form-control") }}

            <label for="cultivo">Cultivo:</label>
            {{ form.cultivo(class="form-control") }}

            <label for="fecha_poda">Fecha de Poda:</label>
            {{ form.fecha_poda(class="form-control") }}

            <button type="submit" class="btn-submit">Guardar</button>
        </form>
    </div>
</body>
</html>
