<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="login-container">
        <!-- Sección izquierda con el logo -->
        <div class="left-section">
            <img src="{{ url_for('static', filename='img/LogoBarrioNet.png') }}" alt="BarrioNet Logo" class="logo">
        </div>

        <!-- Sección derecha con el formulario -->
        <div class="right-section">
            <img src="{{ url_for('static', filename='img/tempImage4IyDkY.png') }}" alt="Icono reciclaje" class="icon-img">
            <h2>Iniciar Sesión</h2>
            <form method="POST">
                {{ form.hidden_tag() }}

                <label for="email"></label>
                {{ form.email(class="input-field", placeholder="Email") }}

                <label for="password"></label>
                {{ form.password(class="input-field", placeholder="Contraseña") }}

                <button type="submit" class="login-btn">Ingresar</button>
            </form>

            <p>¿No tiene una cuenta? <a href="{{ url_for('auth.register') }}" class="register-link">Crear Cuenta</a></p>
        </div>
    </div>

</body>
</html>


